.btn-purple .btn-link {
    color: white;
  }
  .btn-purple {
    background-color: purple;
    color: white;
  }
  .btn-link {
    text-decoration: none;
  }
  .learn-more-button {
    text-decoration: none;
  }
  .btn-link {
    text-decoration: none;
    color: inherit;
  }
  
  .btn-link:hover {
    text-decoration: none;
    color: inherit;
  }
  .card {
    display: flex;
  }
  
  .card-image-container {
    flex: 0 0 30%; /* Adjust the width as per your needs */
    margin-right: 10px; /* Add margin to create space between image and content */
  }
  
  .card-image {
    max-width: 100%; /* Limit the maximum width of the image */
    height: 1px; /* Automatically adjust the height based on the width */
  }
  
  .my-custom-image {
    max-width: 100%; /* Adjust the maximum width as per your needs */
    height: auto; /* Automatically adjust the height based on the width */
  }
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px; /* Adjust the margin value as per your needs */

  }
  
  .card {
    width: 85%;
    padding: 10px;
    background-image: linear-gradient(to left, purple, pink);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

  }
  .Seller-Header {
    font-family: "Times New Roman", Times, serif;
    color: #64306E;
    font-size: 49px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
  }
  .Shopping{
    color: #64306E;
    font-family: "Montserrat", Sans-serif;
    font-weight: 300;
    letter-spacing: 0.2em;
    text-align: center;
  }
  
  
  
  
  
    