.bg {
  background-color: #64306e;
}

.fa-plus {
  color: #64306e;
}

#card:hover {
  background-color: lightgray;
  transition: 0.5s;
}

#add-address-card:hover {
  background-color: lightgray;
  transition: 0.5s;
}

#add-address-card {
  border-style: dashed;
  border-width: 4px;
  border-color: darkgray;
  height: 300px;
  width: 300px;
}

#address-card {
  border-radius: 0%;
  height: 250px;
  width: 200px;
  position: relative;
}

/* .remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  width: 50px;
}
 */

