.image-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.page-image {
  width: 100%;
  height: 630px;
  object-fit: cover;
  background: rgba(0, 0, 0, 2);
  filter: brightness(50%)
}

.text-container {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  top: 60%;
  transform: translateY(-50%);
  left: 10%;
}

.centered-text {
  text-align: left;
  color: whitesmoke;
  font-weight: bold;
}

.paragraph-box {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: lighter;
}

.button-container {
  text-align: left;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.button-container button {
  margin-top: 10px;
  background-color: rgba(128, 0, 128, 0.697);
  color: white;
  border: none;
  outline: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.button-container button:hover {
  background-color: rgba(128, 0, 128, 0.697);
}

.sub-headers {
  color: #000000;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 26px;
}

.paragraph-box-two {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: lighter;
}

.custom-button {
  background-color: white;
  border-color: #460046;
  border-width: 2px;
  color: #460046;
  position: relative;
  top: -175px;
  left: 40px;
  padding: 10px 35px; /* Increase the padding to make the button bigger */
  font-size: 22px; /* Increase the font size for the button text */
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.custom-button:hover {
  background-color: #800080;
  color: white;
}

.text-right {
  display: flex;
  justify-content: flex-end;
}
.t-row {
  margin-right: 50px;
}

.icon-paragraph-box {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
}
.icon-sub-header {
  color: #000000;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
}
.small-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.container-fluid.bg-light {
  padding-top: 20px; /* Adjust the value as needed */
}
.subheader-container {
  margin-top: 65px; /* Adjust the value as needed */
  margin-left: 120px;
}
.custom-button-container {
  background-color: #64306e;
  border-color: #64306e;
  border-width: 2px;
  color: #fff;
  position: relative;
  padding: 10px 35px; /* Increase the padding to make the button bigger */
  font-size: 22px; /* Increase the font size for the button text */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}
.custom-button-container:hover {
  background-color: #64306e;
  color: white;
}
.subheader-container {
  position: relative;
}

.brush-image {
  position: absolute;
  top: 45%;
  left: calc(70% + 80px);
  transform: translate(-50%, -50%);
  max-width: 720px;
  max-height: 300px;
}
.content-container {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

.haircut-image {
  width: 580px;
  height: 400px;
}
#haircut-header {
  font-size: 24px;
  /* Add any other desired styling properties */
}
.haircut-sub-headers {
  color: #000000;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
}
.service-sub-headers {
  color: #000000;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
