@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

.bg-dark {
    margin:4%;
    border-radius:20px;
    border:none;
    height:650px;
    /* height:70vh; */
}

.card-img {
    border-radius: 20px;
    height:650px;
    object-fit: cover;
    filter: brightness(50%);
}

.card-title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 50px;
    font-style:normal;
    line-height: 59px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    font-weight: bolder;
    margin-top:4%;
    margin-left:3%;
    margin-bottom:20%;
}

.card-text {
    margin-left:3%;
    font-family: "Roboto", sans-serif;
    font-style:normal;
    font-size: 20px;
    line-height: 28px;
    width: 587px;
    align-self: end;
}

.p-button {
    display: flex;
    justify-content: space-between;
}

.btn-outline-primary {
    color: rgb(104, 61, 131);
    border-color:white;
    background-color: white;
    position: relative;
    display: grid;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    color: rgb(104, 61, 131);
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 24px;
    line-height: 28px;
    width: 235px;
    height: 60px;
    place-items: center;
    border-radius: 10px;
    float:inline-end;
    margin-right:3%;
    margin-left:3%;
    margin-top:7%;
}
.btn-outline-primary:hover {
    color:white;
    background-color: rgb(104, 61, 131);
    border-color:rgb(104, 61, 131);

}

.btn-outline-primary:active:focus {
    color:white;
    background-color: rgb(104, 61, 131);
    border-color:rgb(104, 61, 131);

}

@media only screen and (max-width: 1115px) {
    .btn-outline-primary {
        float:left;
        margin-top:auto;
        margin-left:3%;
        margin-right:3%

    }
    .p-button {
        display:block;
        justify-content:last baseline;
    }
    .card-title {
        margin-bottom:200px;
    }
}

@media only screen and (max-width: 767px) {
    .btn-outline-primary {
        float:center;
        margin-top:5%;
        margin-left:3%;
        margin-right:3%;
        width:95%;

    }
    .p-button {
        display:block;
        justify-content: center;
    }
    .card-title {
        margin-bottom:200px;
    }
    .bg-dark {
        margin:2%;
    }
}

@media only screen and (max-width: 675px) {
    .btn-outline-primary {
        float:center;
        margin-top:5%;
        margin-left:1%;
        margin-right:1%;
        width:98%;
        

    }
    .card-text {
        font-size: 18px;
        line-height:24px;
        width:70%;
        margin:1%;
    }
    .card-title {
        font-size:35px;
        margin-left:1%;
        margin-top:2%;
        margin-bottom:40%;
    }
    .bg-dark {
        margin:1%;
    }

}