.top-bar {
  padding: 10px;
  background: #64306E;
  color: white;
}

#profile-management {
  color: white
}

#profile-bg {
  background-color: #64306E
}

.search-button {
  border: none;
  background-color: transparent;
}

/* .nav-link:hover {
  background-color: lightgrey;
  transition: .5s;
} */