.search-button {
    border: none;
    background-color: transparent;
  }

.nav-link {
    position: relative;
    display: inline-block;
  }
  .nav-link:after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: #d390e0;
    transition: width 0.3s ease-in-out;
  }
  .nav-link:hover:after {
    width: 100%;
  }
  