.search-button {
  border: none;
  background-color: transparent;
}

.bag-button {
  border: none;
  background-color: transparent;
}

.top-bar {
  padding: 10px;
  background: #64306e;
  color: white;
}

.middle-bar {
  padding: 10px;
  background: white;
  color: black;
}

#bag-btn:hover {
    background-color: lightgray;
    transition: 0.5s;
    border-radius: 100px;
}
